:root {
  font-size: 14px;
  --primary-color: #32257e;

}

body {
  /* background-color: var(--primary-color); */
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}